Con este código descargamos los datos de las variables económicas a través de FRED. Como es una API, requiere credenciales (todas las APIs utilizadas son gratuitas).

# Librerías

In [1]:
import pandas as pd
import numpy as np
import fredpy as fp

In [2]:
names = lambda o: print([name for name in dir(o) if name[0] != "_"])
names([])

['append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

## Data de inflación

In [3]:
# FRED API Key
fp.api_key = 'XXXXXX'

In [36]:
column_names = ['date','value','region']
inflation = pd.DataFrame(columns = column_names)

region={'reg':['at','au','be','ca','ch','co','de','dk','ee','es','fi','fr','gb','gr','hu','ie','is','it','lt','lu','lva','mx',
               'nl','no','pl','pt','se','sk','tr','us'],'fred':['at','au','be','ca','ch','cz','de','dk','ee','es','fi','fr',
                                                                'gb','gr','hu','ie','is','it','ltu','lu','lva','mx','nl','no',
                                                                'pl','pt','se','sk','tr','us']}
region=pd.DataFrame(region)
for i in range(len(region)):
    try:
        u = fp.series('CPALTT01'+region.loc[i,'fred'].upper()+'M657N').window(['2016-12-01','2021-10-01']).as_frequency(freq='M')
        inf = pd.DataFrame(u.data)
        inf.reset_index(inplace=True)
        inf['region'] = region.loc[i,'reg']
        inflation=pd.concat([inflation,inf],axis=0)
        print(region.loc[i,'reg'] + ' OK')
        #Con window elegimos las fechas de interés y con as_frequency la frecuencia (diaria, semanal, mensual, quarterly o anual)
    except:
        inf = [0]
        print('No data for: '+ region.loc[i,'reg'])
    if len(inf)<2:
        try:
            u = fp.series(region.loc[i,'fred'].upper()+'CPALTT01GPM').window(['2016-12-01','2021-10-01']).as_frequency(freq='M')
            inf = pd.DataFrame(u.data)
            inf.reset_index(inplace=True)
            inf['region'] = region.loc[i,'reg']
            inflation=pd.concat([inflation,inf],axis=0)
            print(region.loc[i,'reg'] + ' fixed')
        except:
            print('Still no data for: '+ region.loc[i,'reg'])
    del inf

at OK
No data for: au
Still no data for: au
be OK
ca OK
ch OK
co OK
de OK
dk OK
ee OK
es OK
fi OK
fr OK
gb OK
gr OK
hu OK
ie OK
is OK
it OK
No data for: lt
lt fixed
lu OK
No data for: lva
FRED API error: API limit exceeded in API query (status code: 429). Retry in 5 seconds.
lva fixed
mx OK
nl OK
no OK
pl OK
pt OK
se OK
sk OK
tr OK
us OK

In [42]:
inflation.reset_index(inplace=True)
inflation.drop('index', axis=1, inplace=True)
inflation.rename(columns = {'value':'inflation'},inplace=True)
inflation

In [ ]:
inflation.to_excel('./data/inflation.xlsx', index = False)

## Data de interest rate

In [43]:
# FRED API Key
fp.api_key = 'XXXXXXXX'

In [50]:
column_names = ['date','value','region']
interest = pd.DataFrame(columns = column_names)

region={'reg':['at','au','be','ca','ch','co','de','dk','ee','es','fi','fr','gb','gr','hu','ie','is','it','lt','lu','lva','mx',
               'nl','no','pl','pt','se','sk','tr','us'],'fred':['at','au','be','ca','ch','cz','de','dk','ee','es','fi','fr',
                                                                'gb','gr','hu','ie','is','it','ltu','lu','lva','mx','nl','no',
                                                                'pl','pt','se','sk','tr','us']}
region=pd.DataFrame(region)
for i in range(len(region)):
    try:
        u = fp.series('IRLTLT01'+region.loc[i,'fred'].upper()+'M156N').window(['2016-12-01','2021-10-01']).as_frequency(freq='M')
        inter = pd.DataFrame(u.data)
        inter.reset_index(inplace=True)
        inter['region'] = region.loc[i,'reg']
        interest=pd.concat([interest,inter],axis=0)
        print(region.loc[i,'reg'] + ' OK')
        #Con window elegimos las fechas de interés y con as_frequency la frecuencia (diaria, semanal, mensual, quarterly o anual)
    except:
        inter = [0]
        print('No data for: '+ region.loc[i,'reg'])
    if len(inter)<2:
        try:
            u = fp.series(region.loc[i,'fred'].upper()+'IRLTLT01STM').window(['2016-12-01','2021-10-01']).as_frequency(freq='M')
            inter = pd.DataFrame(u.data)
            inter.reset_index(inplace=True)
            inter['region'] = region.loc[i,'reg']
            interest=pd.concat([interest,inter],axis=0)
            print(region.loc[i,'reg'] + ' fixed')
        except:
            print('Still no data for: '+ region.loc[i,'reg'])
    del inter

at OK
au OK
be OK
ca OK
ch OK
co OK
de OK
dk OK
No data for: ee
Still no data for: ee
es OK
fi OK
fr OK
gb OK
gr OK
hu OK
ie OK
is OK
it OK
No data for: lt
lt fixed
lu OK
No data for: lva
lva fixed
mx OK
nl OK
no OK
pl OK
pt OK
se OK
FRED API error: API limit exceeded in API query (status code: 429). Retry in 5 seconds.
FRED API error: API limit exceeded in API query (status code: 429). Retry in 6 seconds.
FRED API error: API limit exceeded in API query (status code: 429). Retry in 7 seconds.
sk OK
No data for: tr
Still no data for: tr
us OK

In [51]:
interest.reset_index(inplace=True)
interest.drop('index', axis=1, inplace=True)
interest.rename(columns = {'value':'inflation'},inplace=True)
interest

           date  inflation region
0    2016-12-01    0.53445     at
1    2017-01-01    0.57045     at
2    2017-02-01    0.58985     at
3    2017-03-01    0.59235     at
4    2017-04-01    0.49030     at
...         ...        ...    ...
1647 2021-06-01    1.52000     us
1648 2021-07-01    1.32000     us
1649 2021-08-01    1.28000     us
1650 2021-09-01    1.37000     us
1651 2021-10-01    1.58000     us

[1652 rows x 3 columns]

In [52]:
interest.to_excel('./data/interest.xlsx', index = False)