Este notebook sirve para unir bases de datos. Algunas de ellas se han obtenido por métodos vistos en anteriores notebooks, otras directamente de internet. Algunas de estas bases han tenido diversas versiones, o han sido modificadas en excel antes de pasar por este proceso.

## Librerías

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import re
import datetime
from sklearn.preprocessing import MinMaxScaler
from bs4 import BeautifulSoup

In [2]:
names = lambda o: print([name for name in dir(o) if name[0] != "_"])
names([])

['append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

### Directorio

In [2]:
directorio = './data'

os.chdir(directorio)
#asigna directorio

## Merge COVID - VADER

In [20]:
covid = pd.read_excel('covid.xlsx')
covid

,location,monthly,new_deaths_per_million,human_development_index,extreme_poverty,gdp_per_capita,median_age,hospital_beds_per_thousand,stringency_index,people_vaccinated_per_hundred,icu_patients_per_million,new_cases_per_million
0,au,2020-01-01,0.000000,0.944,0.5,44648.710,37.9,3.84,5.560000,0.000000,0.000000,0.058167
1,au,2020-02-01,0.000000,0.944,0.5,44648.710,37.9,3.84,19.057241,0.000000,0.000000,0.021414
2,au,2020-03-01,0.022613,0.944,0.5,44648.710,37.9,3.84,38.648710,0.000000,0.102581,5.671484
3,au,2020-04-01,0.097000,0.944,0.5,44648.710,37.9,3.84,71.109667,0.000000,2.493433,2.852700
4,au,2020-05-01,0.012581,0.944,0.5,44648.710,37.9,3.84,67.352258,0.000000,0.535323,0.545387
...,...,...,...,...,...,...,...,...,...,...,...,...
776,us,2021-10-01,4.631613,0.926,1.2,54225.446,38.3,2.77,56.020000,65.598387,49.213548,243.297258
777,us,2021-11-01,3.427667,0.926,1.2,54225.446,38.3,2.77,51.850333,68.512667,35.822800,255.093133
778,us,2021-12-01,4.469839,0.926,1.2,54225.446,38.3,2.77,48.136774,71.874194,47.376290,601.910452
779,us,2022-01-01,5.821065,0.926,1.2,54225.446,38.3,2.77,52.791613,74.561613,72.437323,1956.894129
780,us,2022-02-01,7.883250,0.926,1.2,54225.446,38.3,2.77,7.350000,75.641250,47.102875,772.957875

In [21]:
vader = pd.read_excel('panel2.xlsx')
vader

,date,region,pos,neg,pos2,neg2,pos_p,neg_p,songs,covid,unemp,inflation,interest,pos2p,neg2p,neto,neto_p
0,2016-12-01,at,0.148269,0.095881,0.669444,0.330556,0.000852,0.000526,360,0.000000,8.896772,0.492126,0.53445,0.003752,0.001804,0.052389,0.000325
1,2017-01-01,at,0.143992,0.098437,0.664393,0.335607,0.000837,0.000516,733,0.000000,8.931663,-0.293830,0.57045,0.003744,0.001713,0.045555,0.000320
2,2017-02-01,at,0.145376,0.097134,0.677507,0.322493,0.000832,0.000519,738,0.000000,8.841936,0.294695,0.58985,0.003808,0.001601,0.048242,0.000314
3,2017-03-01,at,0.145841,0.094507,0.685745,0.314255,0.000805,0.000496,926,0.000000,8.750391,0.489716,0.59235,0.003821,0.001536,0.051334,0.000309
4,2017-04-01,at,0.143656,0.095759,0.677641,0.322359,0.000813,0.000498,729,0.000000,8.666477,0.194932,0.49030,0.003889,0.001524,0.047898,0.000315
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1824,2021-06-01,us,0.144238,0.119631,0.606061,0.393939,0.000760,0.000625,759,1.054267,5.900000,0.929066,1.52000,0.003323,0.001947,0.024607,0.000135
1825,2021-07-01,us,0.143136,0.117803,0.604651,0.395349,0.000764,0.000618,946,0.843839,5.400000,0.481052,1.32000,0.003284,0.002001,0.025333,0.000146
1826,2021-08-01,us,0.145794,0.114698,0.648865,0.351135,0.000796,0.000598,749,2.705000,5.200000,0.206591,1.28000,0.003593,0.001747,0.031096,0.000198
1827,2021-09-01,us,0.150336,0.111836,0.697987,0.302013,0.000853,0.000601,745,5.878033,4.700000,0.271597,1.37000,0.003845,0.001525,0.038499,0.000252
1828,2021-10-01,us,0.146697,0.109040,0.694370,0.305630,0.000820,0.000572,373,4.631613,4.600000,0.830812,1.58000,0.003840,0.001522,0.037657,0.000248

In [23]:
#variable identificativa única (region + date)
covid['id']=np.nan
for i in range(len(covid)):
    covid.loc[i,'id'] = covid.loc[i,'location'] + '-' + str(covid.loc[i,'monthly'])
vader['id']=np.nan
for i in range(len(vader)):
    vader.loc[i,'id'] = vader.loc[i,'region'] + '-' + str(vader.loc[i,'date'])

In [24]:
covid.drop({'location','monthly'}, axis=1, inplace=True)

In [25]:
monthly = pd.merge(vader, covid, on='id', how='left') 
monthly.drop('id', axis=1, inplace=True)
monthly.rename(columns = {'new_deaths_per_million':'covid'},inplace=True)
monthly.fillna(0, inplace=True)
monthly

,date,region,pos,neg,pos2,neg2,pos_p,neg_p,songs,covid,...,covid,human_development_index,extreme_poverty,gdp_per_capita,median_age,hospital_beds_per_thousand,stringency_index,people_vaccinated_per_hundred,icu_patients_per_million,new_cases_per_million
0,2016-12-01,at,0.148269,0.095881,0.669444,0.330556,0.000852,0.000526,360,0.000000,...,0.000000,0.000,0.0,0.000,0.0,0.00,0.000000,0.000000,0.000000,0.000000
1,2017-01-01,at,0.143992,0.098437,0.664393,0.335607,0.000837,0.000516,733,0.000000,...,0.000000,0.000,0.0,0.000,0.0,0.00,0.000000,0.000000,0.000000,0.000000
2,2017-02-01,at,0.145376,0.097134,0.677507,0.322493,0.000832,0.000519,738,0.000000,...,0.000000,0.000,0.0,0.000,0.0,0.00,0.000000,0.000000,0.000000,0.000000
3,2017-03-01,at,0.145841,0.094507,0.685745,0.314255,0.000805,0.000496,926,0.000000,...,0.000000,0.000,0.0,0.000,0.0,0.00,0.000000,0.000000,0.000000,0.000000
4,2017-04-01,at,0.143656,0.095759,0.677641,0.322359,0.000813,0.000498,729,0.000000,...,0.000000,0.000,0.0,0.000,0.0,0.00,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1824,2021-06-01,us,0.144238,0.119631,0.606061,0.393939,0.000760,0.000625,759,1.054267,...,1.054267,0.926,1.2,54225.446,38.3,2.77,54.506000,53.705667,12.450100,39.880600
1825,2021-07-01,us,0.143136,0.117803,0.604651,0.395349,0.000764,0.000618,946,0.843839,...,0.843839,0.926,1.2,54225.446,38.3,2.77,52.256452,56.281613,19.598871,127.755258
1826,2021-08-01,us,0.145794,0.114698,0.648865,0.351135,0.000796,0.000598,749,2.705000,...,2.705000,0.926,1.2,54225.446,38.3,2.77,54.258065,60.090645,62.400645,414.630032
1827,2021-09-01,us,0.150336,0.111836,0.697987,0.302013,0.000853,0.000601,745,5.878033,...,5.878033,0.926,1.2,54225.446,38.3,2.77,54.536000,63.391667,72.361200,415.537100
1828,2021-10-01,us,0.146697,0.109040,0.694370,0.305630,0.000820,0.000572,373,4.631613,...,4.631613,0.926,1.2,54225.446,38.3,2.77,56.020000,65.598387,49.213548,243.297258

In [26]:
monthly.to_excel('panel2.xlsx', index = False)

## + Unemployment

In [125]:

monthly = pd.read_excel('monthly.xlsx')
monthly

,monthly,region,positive,negative,positive2,negative2,positive_p,negative_p,songs,covid
0,2016-12-01,at,0.139250,0.100629,173,99,3886.623272,2919.060180,272,0.000000
1,2017-01-01,at,0.138872,0.101272,361,209,3855.527267,2826.186165,570,0.000000
2,2017-02-01,at,0.140204,0.101121,378,208,4116.431727,2935.222903,586,0.000000
3,2017-03-01,at,0.141501,0.099721,477,259,4505.744402,3046.492535,736,0.000000
4,2017-04-01,at,0.140870,0.100095,372,201,4266.052744,2812.954539,573,0.000000
...,...,...,...,...,...,...,...,...,...,...
2047,2021-06-01,us,0.146623,0.121909,319,233,399182.806335,318989.870957,552,1.054267
2048,2021-07-01,us,0.147468,0.117519,397,270,391611.774178,299251.058751,667,0.843839
2049,2021-08-01,us,0.149668,0.114169,363,200,417228.061012,295719.662176,563,2.705000
2050,2021-09-01,us,0.154593,0.108467,423,164,480439.344555,327957.448761,587,5.878033
2051,2021-10-01,us,0.149705,0.104315,210,82,365555.490517,239167.063281,292,4.631613

In [120]:
monthly['id']=np.nan
for i in range(len(monthly)):
    monthly.loc[i,'id'] = monthly.loc[i,'region'] + '-' + str(monthly.loc[i,'monthly'])

In [126]:
monthly = monthly[monthly['region']!='cr']
monthly = monthly[monthly['region']!='il']
monthly = monthly[monthly['region']!='jp']
monthly = monthly[monthly['region']!='kr']
monthly = monthly[monthly['region']!='nz']
monthly.reset_index(inplace=True)
monthly.drop('index',axis=1,inplace=True)
monthly

,monthly,region,positive,negative,positive2,negative2,positive_p,negative_p,songs,covid
0,2016-12-01,at,0.139250,0.100629,173,99,3886.623272,2919.060180,272,0.000000
1,2017-01-01,at,0.138872,0.101272,361,209,3855.527267,2826.186165,570,0.000000
2,2017-02-01,at,0.140204,0.101121,378,208,4116.431727,2935.222903,586,0.000000
3,2017-03-01,at,0.141501,0.099721,477,259,4505.744402,3046.492535,736,0.000000
4,2017-04-01,at,0.140870,0.100095,372,201,4266.052744,2812.954539,573,0.000000
...,...,...,...,...,...,...,...,...,...,...
1824,2021-06-01,us,0.146623,0.121909,319,233,399182.806335,318989.870957,552,1.054267
1825,2021-07-01,us,0.147468,0.117519,397,270,391611.774178,299251.058751,667,0.843839
1826,2021-08-01,us,0.149668,0.114169,363,200,417228.061012,295719.662176,563,2.705000
1827,2021-09-01,us,0.154593,0.108467,423,164,480439.344555,327957.448761,587,5.878033
1828,2021-10-01,us,0.149705,0.104315,210,82,365555.490517,239167.063281,292,4.631613

In [127]:
names(monthly.region.unique())

['T', 'all', 'any', 'argmax', 'argmin', 'argpartition', 'argsort', 'astype', 'base', 'byteswap', 'choose', 'clip', 'compress', 'conj', 'conjugate', 'copy', 'ctypes', 'cumprod', 'cumsum', 'data', 'diagonal', 'dot', 'dtype', 'dump', 'dumps', 'fill', 'flags', 'flat', 'flatten', 'getfield', 'imag', 'item', 'itemset', 'itemsize', 'max', 'mean', 'min', 'nbytes', 'ndim', 'newbyteorder', 'nonzero', 'partition', 'prod', 'ptp', 'put', 'ravel', 'real', 'repeat', 'reshape', 'resize', 'round', 'searchsorted', 'setfield', 'setflags', 'shape', 'size', 'sort', 'squeeze', 'std', 'strides', 'sum', 'swapaxes', 'take', 'tobytes', 'tofile', 'tolist', 'tostring', 'trace', 'transpose', 'var', 'view']

In [129]:
monthly.loc[0,:]

monthly       2016-12-01 00:00:00
region                         at
positive                  0.13925
negative                 0.100629
positive2                     173
negative2                      99
positive_p            3886.623272
negative_p             2919.06018
songs                         272
covid                         0.0
Name: 0, dtype: object

In [141]:
df.shape[0]

59

In [147]:
####### ESTO SIRVE PARA COMPROBAR QUE TODOS LOS PAÍSES TIENEN UNEMPLOYMENT SOLO PARA EL PERIODO 
for i in range(monthly.region.unique().size): #para cada region
    df = pd.read_excel(monthly.region.unique().item(i)+'_unemployment.xls') #abrimos el excel de su unemployment
    print (monthly.region.unique().item(i) + ' ' + str(df.shape[0]))

at 59
au 59
be 59
ca 59
ch 59
cl 59
co 59
de 59
dk 59
ee 59
es 59
fi 59
fr 59
gb 59
gr 59
hu 59
ie 59
is 59
it 59
lt 59
lu 59
lv 59
mx 59
nl 59
no 59
pl 59
pt 59
se 59
sk 59
tr 59
us 59

In [148]:
z = 0
column_names = ['monthly', 'region', 'positive', 'negative', 'positive2', 'negative2', 'positive_p', 'negative_p', 'songs', 'covid','unemp']
monthly2 = pd.DataFrame(columns = column_names)
for i in range(monthly.region.unique().size): #para cada region
    df = pd.read_excel(monthly.region.unique().item(i)+'_unemployment.xls') #abrimos el excel de su unemployment
    for j in range(len(df)):
        new_row = {'monthly':monthly.loc[z,'monthly'], 'region':monthly.loc[z,'region'], 'positive':monthly.loc[z,'positive'], 'negative':monthly.loc[z,'negative'], 'positive2':monthly.loc[z,'positive2'], 'negative2':monthly.loc[z,'negative2'], 'positive_p':monthly.loc[z,'positive_p'], 'negative_p':monthly.loc[z,'negative_p'], 'songs':monthly.loc[z,'songs'], 'covid':monthly.loc[z,'covid'],'unemp':df.loc[j,'unemp']}
        # nueva línea con z de index para todos los datos mensuales menos unemployment que sale del i de df
        monthly2 = monthly2.append(new_row, ignore_index=True)
        z = z + 1
        print (z)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1432
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1445
1446
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464
1465
1466
1467
1468
1469
1470
1471
1472
1473
1474
1475
1476
1477
1478
1479
1480
1481
1482
1483
1484
1485
1486
1487
1488
1489
1490
1491
1492
1493
1494
1495
1496
1497
1498
1499
1500
1501
1502
1503
1504
1505
1506
1507
1508
1509
1510
1511
1512
1513
1514
1515
1516
1517
1518
1519
1520
1521
1522
1523
1524
1525
1526
1527
1528
1529
1530
1531
1532
1533
1534
1535
1536
1537
1538
1539
1540
1541
1542
1543
1544
1545
1546
1547
1548
1549
1550
1551
1552
1553
1554
1555
1556
1557
1558
1559
1560
1561
1562
1563
1564
1565
1566
1567
1568
1569
1570
1571
1572
1573
1574
1575
1576
1577
1578
1579
1580
1581
1582
1583
1584
1585
1586
1587
1588
1589
1590
1591
1592
1593
1594
1595
1596
1597
1598
1599
1600
1601
1602
1603
1604
1605
1606
1607
1608
1609
1610
1611
1612
1613
1614
1615
1616
1617
1618
1619
1620
1621
1622
1623
1624
1625
1626
1627
1628
1629
1630
1631
1632
1633
1634
1635
1636
1637
1638
1639
1640
1641
1642
1643
1644
1645
1646
1647
1648
1649
1650
1651
1652
1653
1654
1655
1656
1657
1658
1659
1660
1661
1662
1663
1664
1665
1666
1667
1668
1669
1670
1671
1672
1673
1674
1675
1676
1677
1678
1679
1680
1681
1682
1683
1684
1685
1686
1687
1688
1689
1690
1691
1692
1693
1694
1695
1696
1697
1698
1699
1700
1701
1702
1703
1704
1705
1706
1707
1708
1709
1710
1711
1712
1713
1714
1715
1716
1717
1718
1719
1720
1721
1722
1723
1724
1725
1726
1727
1728
1729
1730
1731
1732
1733
1734
1735
1736
1737
1738
1739
1740
1741
1742
1743
1744
1745
1746
1747
1748
1749
1750
1751
1752
1753
1754
1755
1756
1757
1758
1759
1760
1761
1762
1763
1764
1765
1766
1767
1768
1769
1770
1771
1772
1773
1774
1775
1776
1777
1778
1779
1780
1781
1782
1783
1784
1785
1786
1787
1788
1789
1790
1791
1792
1793
1794
1795
1796
1797
1798
1799
1800
1801
1802
1803
1804
1805
1806
1807
1808
1809
1810
1811
1812
1813
1814
1815
1816
1817
1818
1819
1820
1821
1822
1823
1824
1825
1826
1827
1828
1829

In [149]:
monthly2

,monthly,region,positive,negative,positive2,negative2,positive_p,negative_p,songs,covid,unemp
0,2016-12-01,at,0.139250,0.100629,173,99,3886.623272,2919.060180,272,0.000000,8.896772
1,2017-01-01,at,0.138872,0.101272,361,209,3855.527267,2826.186165,570,0.000000,8.931663
2,2017-02-01,at,0.140204,0.101121,378,208,4116.431727,2935.222903,586,0.000000,8.841936
3,2017-03-01,at,0.141501,0.099721,477,259,4505.744402,3046.492535,736,0.000000,8.750391
4,2017-04-01,at,0.140870,0.100095,372,201,4266.052744,2812.954539,573,0.000000,8.666477
...,...,...,...,...,...,...,...,...,...,...,...
1824,2021-06-01,us,0.146623,0.121909,319,233,399182.806335,318989.870957,552,1.054267,5.900000
1825,2021-07-01,us,0.147468,0.117519,397,270,391611.774178,299251.058751,667,0.843839,5.400000
1826,2021-08-01,us,0.149668,0.114169,363,200,417228.061012,295719.662176,563,2.705000,5.200000
1827,2021-09-01,us,0.154593,0.108467,423,164,480439.344555,327957.448761,587,5.878033,4.700000
1828,2021-10-01,us,0.149705,0.104315,210,82,365555.490517,239167.063281,292,4.631613,4.600000

In [152]:
monthly2.to_excel('panel.xlsx', index=False)

# + Inflation and interest rate

In [14]:

monthly = pd.read_excel('panel.xlsx')
monthly

,date,region,pos,neg,pos2,neg2,posp,negp,songs,covid,unemp
0,2016-12-01,at,0.139250,0.100629,173,99,1.057162e+06,7.939844e+05,272,0.000000,8.896772
1,2017-01-01,at,0.138872,0.101272,361,209,2.197651e+06,1.610926e+06,570,0.000000,8.931663
2,2017-02-01,at,0.140204,0.101121,378,208,2.416345e+06,1.722976e+06,586,0.000000,8.841936
3,2017-03-01,at,0.141501,0.099721,477,259,3.329745e+06,2.251358e+06,736,0.000000,8.750391
4,2017-04-01,at,0.140870,0.100095,372,201,2.461512e+06,1.623075e+06,573,0.000000,8.666477
...,...,...,...,...,...,...,...,...,...,...,...
1824,2021-06-01,us,0.146623,0.121909,319,233,2.203489e+08,1.760824e+08,552,1.054267,5.900000
1825,2021-07-01,us,0.147468,0.117519,397,270,2.612051e+08,1.996005e+08,667,0.843839,5.400000
1826,2021-08-01,us,0.149668,0.114169,363,200,2.348994e+08,1.664902e+08,563,2.705000,5.200000
1827,2021-09-01,us,0.154593,0.108467,423,164,2.820179e+08,1.925110e+08,587,5.878033,4.700000
1828,2021-10-01,us,0.149705,0.104315,210,82,1.067422e+08,6.983678e+07,292,4.631613,4.600000

In [15]:
inflation = pd.read_excel('inflation.xlsx')
inflation

           date  inflation region
0    2016-12-01   0.492126     at
1    2017-01-01  -0.293830     at
2    2017-02-01   0.294695     at
3    2017-03-01   0.489716     at
4    2017-04-01   0.194932     at
...         ...        ...    ...
1706 2021-06-01   0.929066     us
1707 2021-07-01   0.481052     us
1708 2021-08-01   0.206591     us
1709 2021-09-01   0.271597     us
1710 2021-10-01   0.830812     us

[1711 rows x 3 columns]

In [16]:
interest = pd.read_excel('interest.xlsx')
interest

           date  inflation region
0    2016-12-01    0.53445     at
1    2017-01-01    0.57045     at
2    2017-02-01    0.58985     at
3    2017-03-01    0.59235     at
4    2017-04-01    0.49030     at
...         ...        ...    ...
1647 2021-06-01    1.52000     us
1648 2021-07-01    1.32000     us
1649 2021-08-01    1.28000     us
1650 2021-09-01    1.37000     us
1651 2021-10-01    1.58000     us

[1652 rows x 3 columns]

In [17]:
#Añadimos columna id para el merge
monthly['id']=np.nan
for i in range(len(monthly)):
    monthly.loc[i,'id'] = monthly.loc[i,'region'] + '-' + str(monthly.loc[i,'date'])

inflation['id']=np.nan
for i in range(len(inflation)):
    inflation.loc[i,'id'] = inflation.loc[i,'region'] + '-' + str(inflation.loc[i,'date'])
inflation.drop(['date','region'], axis=1, inplace=True)
    
interest['id']=np.nan
for i in range(len(interest)):
    interest.loc[i,'id'] = interest.loc[i,'region'] + '-' + str(interest.loc[i,'date'])
interest.drop(['date','region'], axis=1, inplace=True)

In [19]:
#Merger
monthly = pd.merge(monthly, inflation, on='id', how='left') 
monthly = pd.merge(monthly, interest, on='id', how='left') 
monthly.drop(['id'],axis=1,inplace=True)
monthly.rename(columns = {'inflation_x':'inflation','inflation_y':'interest'},inplace=True)
monthly

,date,region,pos,neg,pos2,neg2,posp,negp,songs,covid,unemp,inflation,interest
0,2016-12-01,at,0.139250,0.100629,173,99,1.057162e+06,7.939844e+05,272,0.000000,8.896772,0.492126,0.53445
1,2017-01-01,at,0.138872,0.101272,361,209,2.197651e+06,1.610926e+06,570,0.000000,8.931663,-0.293830,0.57045
2,2017-02-01,at,0.140204,0.101121,378,208,2.416345e+06,1.722976e+06,586,0.000000,8.841936,0.294695,0.58985
3,2017-03-01,at,0.141501,0.099721,477,259,3.329745e+06,2.251358e+06,736,0.000000,8.750391,0.489716,0.59235
4,2017-04-01,at,0.140870,0.100095,372,201,2.461512e+06,1.623075e+06,573,0.000000,8.666477,0.194932,0.49030
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1824,2021-06-01,us,0.146623,0.121909,319,233,2.203489e+08,1.760824e+08,552,1.054267,5.900000,0.929066,1.52000
1825,2021-07-01,us,0.147468,0.117519,397,270,2.612051e+08,1.996005e+08,667,0.843839,5.400000,0.481052,1.32000
1826,2021-08-01,us,0.149668,0.114169,363,200,2.348994e+08,1.664902e+08,563,2.705000,5.200000,0.206591,1.28000
1827,2021-09-01,us,0.154593,0.108467,423,164,2.820179e+08,1.925110e+08,587,5.878033,4.700000,0.271597,1.37000
1828,2021-10-01,us,0.149705,0.104315,210,82,1.067422e+08,6.983678e+07,292,4.631613,4.600000,0.830812,1.58000

In [20]:
monthly.to_excel('panel.xlsx', index=False)

### Weekly COVID

In [3]:
covid = pd.read_excel('covid_w.xlsx')
covid

,location,week,new_deaths_per_million,human_development_index,extreme_poverty,gdp_per_capita,median_age,hospital_beds_per_thousand,stringency_index,people_vaccinated_per_hundred,icu_patients_per_million,new_cases_per_million
0,au,2020-03,0.000000,0.944,0.5,44648.710,37.9,3.84,5.560000,0.000000,0.000000,0.155000
1,au,2020-04,0.000000,0.944,0.5,44648.710,37.9,3.84,7.940000,0.000000,0.000000,0.044286
2,au,2020-05,0.000000,0.944,0.5,44648.710,37.9,3.84,19.440000,0.000000,0.000000,0.016714
3,au,2020-06,0.000000,0.944,0.5,44648.710,37.9,3.84,19.440000,0.000000,0.000000,0.000000
4,au,2020-07,0.000000,0.944,0.5,44648.710,37.9,3.84,19.440000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
3211,us,2022-02,5.810857,0.926,1.2,54225.446,38.3,2.77,50.460000,74.425714,76.322571,2409.091857
3212,us,2022-03,6.310143,0.926,1.2,54225.446,38.3,2.77,54.431429,74.930000,78.279429,2124.862429
3213,us,2022-04,7.209429,0.926,1.2,54225.446,38.3,2.77,56.020000,75.322857,73.405571,1528.440714
3214,us,2022-05,7.399429,0.926,1.2,54225.446,38.3,2.77,16.402857,75.607143,63.659286,879.833000
3215,us,2022-06,9.289000,0.926,1.2,54225.446,38.3,2.77,0.000000,75.690000,0.000000,810.544500

In [4]:
vader = pd.read_excel('weekly2.xlsx')
vader

,Unnamed: 0,date,region,positive,negative,positive2,negative2,positive_p,negative_p,pos_p,neg_p,pos2p,neg2p,songs,pos2,neg2
0,0,2016-12-23,at,0.152370,0.089711,121,52,4832.511017,2759.430746,0.000905,0.000517,0.004060,0.001720,173,0.699422,0.300578
1,1,2016-12-23,au,0.163449,0.091022,129,49,40622.093691,24332.802539,0.000870,0.000521,0.003872,0.001746,178,0.724719,0.275281
2,2,2016-12-23,be,0.156435,0.099305,120,57,7139.994362,4472.877435,0.000867,0.000543,0.003850,0.001799,177,0.677966,0.322034
3,3,2016-12-23,ca,0.153719,0.098719,119,58,34972.164708,23467.719803,0.000844,0.000566,0.003598,0.002004,177,0.672316,0.327684
4,4,2016-12-23,ch,0.146377,0.099811,114,61,5654.562354,3630.349823,0.000862,0.000554,0.003818,0.001896,175,0.651429,0.348571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8719,8719,2021-10-08,pt,0.150934,0.101878,125,56,11255.292011,7106.620597,0.000843,0.000532,0.003872,0.001653,181,0.690608,0.309392
8720,8720,2021-10-08,se,0.134137,0.099071,121,61,33043.204022,23386.232628,0.000742,0.000525,0.003728,0.001722,182,0.664835,0.335165
8721,8721,2021-10-08,sk,0.137000,0.097147,115,54,2955.236171,1957.706888,0.000832,0.000551,0.004007,0.001854,169,0.680473,0.319527
8722,8722,2021-10-08,tr,0.128542,0.107071,97,71,61018.265756,51604.083893,0.000725,0.000613,0.003177,0.002776,168,0.577381,0.422619
8723,8723,2021-10-08,us,0.146818,0.107968,132,55,352949.320021,244768.037128,0.000815,0.000566,0.003876,0.001471,187,0.705882,0.294118

In [5]:
vader['week']= np.nan
for i in range (len(vader)):
    vader.loc[i,'week']=vader.loc[i,'date'].strftime("%Y-%W")
vader.head()

,Unnamed: 0,date,region,positive,negative,positive2,negative2,positive_p,negative_p,pos_p,neg_p,pos2p,neg2p,songs,pos2,neg2,week
0,0,2016-12-23,at,0.152370,0.089711,121,52,4832.511017,2759.430746,0.000905,0.000517,0.004060,0.001720,173,0.699422,0.300578,2016-51
1,1,2016-12-23,au,0.163449,0.091022,129,49,40622.093691,24332.802539,0.000870,0.000521,0.003872,0.001746,178,0.724719,0.275281,2016-51
2,2,2016-12-23,be,0.156435,0.099305,120,57,7139.994362,4472.877435,0.000867,0.000543,0.003850,0.001799,177,0.677966,0.322034,2016-51
3,3,2016-12-23,ca,0.153719,0.098719,119,58,34972.164708,23467.719803,0.000844,0.000566,0.003598,0.002004,177,0.672316,0.327684,2016-51
4,4,2016-12-23,ch,0.146377,0.099811,114,61,5654.562354,3630.349823,0.000862,0.000554,0.003818,0.001896,175,0.651429,0.348571,2016-51

In [6]:
#variable identificativa única (region + date)
covid['id']=np.nan
for i in range(len(covid)):
    covid.loc[i,'id'] = covid.loc[i,'location'] + '-' + str(covid.loc[i,'week'])
vader['id']=np.nan
for i in range(len(vader)):
    vader.loc[i,'id'] = vader.loc[i,'region'] + '-' + str(vader.loc[i,'week'])

In [7]:
covid.drop({'location','week'}, axis=1, inplace=True)

In [8]:
weekly = pd.merge(vader, covid, on='id', how='left') 
weekly.drop('id', axis=1, inplace=True)
weekly.rename(columns = {'new_deaths_per_million':'covid'},inplace=True)
weekly.fillna(0, inplace=True)
weekly

,Unnamed: 0,date,region,positive,negative,positive2,negative2,positive_p,negative_p,pos_p,...,covid,human_development_index,extreme_poverty,gdp_per_capita,median_age,hospital_beds_per_thousand,stringency_index,people_vaccinated_per_hundred,icu_patients_per_million,new_cases_per_million
0,0,2016-12-23,at,0.152370,0.089711,121,52,4832.511017,2759.430746,0.000905,...,0.000000,0.000,0.0,0.000,0.0,0.00,0.00,0.000000,0.000000,0.000000
1,1,2016-12-23,au,0.163449,0.091022,129,49,40622.093691,24332.802539,0.000870,...,0.000000,0.000,0.0,0.000,0.0,0.00,0.00,0.000000,0.000000,0.000000
2,2,2016-12-23,be,0.156435,0.099305,120,57,7139.994362,4472.877435,0.000867,...,0.000000,0.000,0.0,0.000,0.0,0.00,0.00,0.000000,0.000000,0.000000
3,3,2016-12-23,ca,0.153719,0.098719,119,58,34972.164708,23467.719803,0.000844,...,0.000000,0.000,0.0,0.000,0.0,0.00,0.00,0.000000,0.000000,0.000000
4,4,2016-12-23,ch,0.146377,0.099811,114,61,5654.562354,3630.349823,0.000862,...,0.000000,0.000,0.0,0.000,0.0,0.00,0.00,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8719,8719,2021-10-08,pt,0.150934,0.101878,125,56,11255.292011,7106.620597,0.000843,...,0.674143,0.864,0.5,27936.896,46.2,3.39,44.44,12.602857,5.746429,58.980857
8720,8720,2021-10-08,se,0.134137,0.099071,121,61,33043.204022,23386.232628,0.000742,...,0.520143,0.945,0.5,46949.283,41.0,2.22,19.44,10.044286,3.360429,58.590143
8721,8721,2021-10-08,sk,0.137000,0.097147,115,54,2955.236171,1957.706888,0.000832,...,1.651714,0.860,0.7,30155.152,41.2,5.82,34.72,6.514286,15.729286,334.356571
8722,8722,2021-10-08,tr,0.128542,0.107071,97,71,61018.265756,51604.083893,0.000725,...,2.551714,0.820,0.2,25129.341,31.6,2.81,63.89,63.897143,0.000000,346.523286
8723,8723,2021-10-08,us,0.146818,0.107968,132,55,352949.320021,244768.037128,0.000815,...,5.021429,0.926,1.2,54225.446,38.3,2.77,56.02,65.031429,53.672000,284.756714

In [9]:
weekly.to_excel('weekly2.xlsx', index=False)

### Más COVID

In [15]:
vader = pd.read_excel('weekly2.xlsx')
vader

,date,region,positive,negative,positive2,negative2,positive_p,negative_p,pos_p,neg_p,...,covid,human_development_index,extreme_poverty,gdp_per_capita,median_age,hospital_beds_per_thousand,stringency_index,people_vaccinated_per_hundred,icu_patients_per_million,new_cases_per_million
0,2016-12-23,at,0.152370,0.089711,121,52,4832.511017,2759.430746,0.000905,0.000517,...,0.000000,0.000,0.0,0.000,0.0,0.00,0.00,0.000000,0.000000,0.000000
1,2016-12-23,au,0.163449,0.091022,129,49,40622.093691,24332.802539,0.000870,0.000521,...,0.000000,0.000,0.0,0.000,0.0,0.00,0.00,0.000000,0.000000,0.000000
2,2016-12-23,be,0.156435,0.099305,120,57,7139.994362,4472.877435,0.000867,0.000543,...,0.000000,0.000,0.0,0.000,0.0,0.00,0.00,0.000000,0.000000,0.000000
3,2016-12-23,ca,0.153719,0.098719,119,58,34972.164708,23467.719803,0.000844,0.000566,...,0.000000,0.000,0.0,0.000,0.0,0.00,0.00,0.000000,0.000000,0.000000
4,2016-12-23,ch,0.146377,0.099811,114,61,5654.562354,3630.349823,0.000862,0.000554,...,0.000000,0.000,0.0,0.000,0.0,0.00,0.00,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8719,2021-10-08,pt,0.150934,0.101878,125,56,11255.292011,7106.620597,0.000843,0.000532,...,0.674143,0.864,0.5,27936.896,46.2,3.39,44.44,12.602857,5.746429,58.980857
8720,2021-10-08,se,0.134137,0.099071,121,61,33043.204022,23386.232628,0.000742,0.000525,...,0.520143,0.945,0.5,46949.283,41.0,2.22,19.44,10.044286,3.360429,58.590143
8721,2021-10-08,sk,0.137000,0.097147,115,54,2955.236171,1957.706888,0.000832,0.000551,...,1.651714,0.860,0.7,30155.152,41.2,5.82,34.72,6.514286,15.729286,334.356571
8722,2021-10-08,tr,0.128542,0.107071,97,71,61018.265756,51604.083893,0.000725,0.000613,...,2.551714,0.820,0.2,25129.341,31.6,2.81,63.89,63.897143,0.000000,346.523286
8723,2021-10-08,us,0.146818,0.107968,132,55,352949.320021,244768.037128,0.000815,0.000566,...,5.021429,0.926,1.2,54225.446,38.3,2.77,56.02,65.031429,53.672000,284.756714

In [16]:
vader.columns

Index(['date', 'region', 'positive', 'negative', 'positive2', 'negative2',
       'positive_p', 'negative_p', 'pos_p', 'neg_p', 'positive_songs_p',
       'pos2p', 'neg2p', 'songs', 'pos2', 'neg2', 'week', 'covid',
       'human_development_index', 'extreme_poverty', 'gdp_per_capita',
       'median_age', 'hospital_beds_per_thousand', 'stringency_index',
       'people_vaccinated_per_hundred', 'icu_patients_per_million',
       'new_cases_per_million'],
      dtype='object')

In [17]:
covid = pd.read_excel('weekly_covid_indexes.xlsx')
covid

           week region  stringency  containment   response     support
0    2020-01-24     at    0.000000     0.000000   0.000000    0.000000
1    2020-01-24     au    1.588571     3.742857   3.274286    0.000000
2    2020-01-24     be    0.000000     0.000000   0.000000    0.000000
3    2020-01-24     ca    1.985714     5.528571   4.835714    0.000000
4    2020-01-24     ch    0.000000     0.000000   0.000000    0.000000
...         ...    ...         ...          ...        ...         ...
2785 2021-10-08     pt   49.205714    61.392857  63.094286   75.000000
2786 2021-10-08     se   21.040000    30.192857  32.221429   46.428571
2787 2021-10-08     sk   32.524286    48.885714  55.267143  100.000000
2788 2021-10-08     tr   42.672857    43.894286  38.405714    0.000000
2789 2021-10-08     us   52.294286    58.480000  54.292857   25.000000

[2790 rows x 6 columns]

In [18]:
for i in range(len(covid)):
    covid.loc[i,'id']=covid.loc[i,'region']+'_'+str(covid.loc[i,'week'])[0:10] 
for i in range(len(vader)):
    vader.loc[i,'id']=vader.loc[i,'region']+'_'+str(vader.loc[i,'date'])[0:10]

In [23]:
covid.drop({'region','week'}, axis=1, inplace=True)
total = pd.merge(vader, covid, on='id', how='left')
total

,date,region,positive,negative,positive2,negative2,positive_p,negative_p,pos_p,neg_p,...,hospital_beds_per_thousand,stringency_index,people_vaccinated_per_hundred,icu_patients_per_million,new_cases_per_million,id,stringency,containment,response,support
0,2016-12-23,at,0.152370,0.089711,121,52,4832.511017,2759.430746,0.000905,0.000517,...,0.00,0.00,0.000000,0.000000,0.000000,at_2016-12-23,NaN,NaN,NaN,NaN
1,2016-12-23,au,0.163449,0.091022,129,49,40622.093691,24332.802539,0.000870,0.000521,...,0.00,0.00,0.000000,0.000000,0.000000,au_2016-12-23,NaN,NaN,NaN,NaN
2,2016-12-23,be,0.156435,0.099305,120,57,7139.994362,4472.877435,0.000867,0.000543,...,0.00,0.00,0.000000,0.000000,0.000000,be_2016-12-23,NaN,NaN,NaN,NaN
3,2016-12-23,ca,0.153719,0.098719,119,58,34972.164708,23467.719803,0.000844,0.000566,...,0.00,0.00,0.000000,0.000000,0.000000,ca_2016-12-23,NaN,NaN,NaN,NaN
4,2016-12-23,ch,0.146377,0.099811,114,61,5654.562354,3630.349823,0.000862,0.000554,...,0.00,0.00,0.000000,0.000000,0.000000,ch_2016-12-23,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8719,2021-10-08,pt,0.150934,0.101878,125,56,11255.292011,7106.620597,0.000843,0.000532,...,3.39,44.44,12.602857,5.746429,58.980857,pt_2021-10-08,49.205714,61.392857,63.094286,75.000000
8720,2021-10-08,se,0.134137,0.099071,121,61,33043.204022,23386.232628,0.000742,0.000525,...,2.22,19.44,10.044286,3.360429,58.590143,se_2021-10-08,21.040000,30.192857,32.221429,46.428571
8721,2021-10-08,sk,0.137000,0.097147,115,54,2955.236171,1957.706888,0.000832,0.000551,...,5.82,34.72,6.514286,15.729286,334.356571,sk_2021-10-08,32.524286,48.885714,55.267143,100.000000
8722,2021-10-08,tr,0.128542,0.107071,97,71,61018.265756,51604.083893,0.000725,0.000613,...,2.81,63.89,63.897143,0.000000,346.523286,tr_2021-10-08,42.672857,43.894286,38.405714,0.000000
8723,2021-10-08,us,0.146818,0.107968,132,55,352949.320021,244768.037128,0.000815,0.000566,...,2.77,56.02,65.031429,53.672000,284.756714,us_2021-10-08,52.294286,58.480000,54.292857,25.000000

In [24]:
total.fillna(0, inplace=True)

In [25]:
total.to_excel('weekly_final.xlsx', index=False)

### Proxy Christmas

In [3]:
df = pd.read_excel('panel_final2.xlsx')
df

,date,region,positive_coef,negative_coef,positive_percentage,negative_percentage,positive_coef_p,negative_coef_p,positive_songs_p,negative_songs_p,...,negative_coef_p_yt,positive_songs_p_yt,negative_songs_p_yt,positive_percen_yt,net2p_yt,net_songs_yt,twitt,twitt_p,twitter,twitter_p
0,2016-12-01,at,66.921348,34.529511,61.124845,38.875155,36.481906,17.100431,38.035204,25.247728,...,NaN,NaN,NaN,NaN,NaN,NaN,0.699111,0.104282,95.306227,33.518850
1,2017-01-01,at,56.969113,40.680610,59.089478,40.910522,34.028960,15.385740,37.785941,21.933503,...,NaN,NaN,NaN,NaN,NaN,NaN,0.685596,0.117659,88.080804,48.578769
2,2017-02-01,at,60.189955,37.545874,64.373320,35.626680,33.365540,15.804763,39.847921,17.832340,...,NaN,NaN,NaN,NaN,NaN,NaN,0.674314,0.096657,82.049532,24.934949
3,2017-03-01,at,61.270662,31.224005,67.692723,32.307277,28.961922,11.942472,40.279423,15.466373,...,NaN,NaN,NaN,NaN,NaN,NaN,0.689046,0.098282,89.925051,26.764386
4,2017-04-01,at,56.188298,34.235845,64.427242,35.572758,30.236642,12.211820,42.460406,15.021484,...,NaN,NaN,NaN,NaN,NaN,NaN,0.693422,0.099280,92.264839,27.887856
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1824,2021-06-01,us,57.542980,91.685824,35.586222,64.413778,21.694933,33.902021,24.245929,30.471686,...,27.609372,31.852056,17.828028,66.771160,0.004918,56.381275,0.580914,0.083268,32.116441,9.861953
1825,2021-07-01,us,54.978841,87.287389,35.018329,64.981671,22.212113,32.626880,22.994300,32.451086,...,25.081740,22.867628,18.495291,64.000000,0.004011,49.853001,0.578335,0.082576,30.737746,9.082289
1826,2021-08-01,us,61.162950,79.814837,52.833035,47.166965,27.530953,29.301241,32.929739,23.187673,...,24.591241,27.395521,17.820437,67.878788,0.004502,53.386210,0.576676,0.082596,29.851177,9.105197
1827,2021-09-01,us,71.728349,72.927302,72.625044,27.374956,36.664541,29.812166,41.022429,15.052433,...,26.107815,20.308637,19.863956,64.139942,0.003634,47.147163,0.588988,0.085981,36.432853,12.916177
1828,2021-10-01,us,63.263054,66.198587,71.167841,28.832159,31.309838,24.828312,40.877627,14.953976,...,33.416170,27.033415,23.537759,63.291139,0.003897,49.036509,0.589568,0.084880,36.743326,11.676571

In [20]:
for i in range(len(df)):
    df.loc[i,'month']=df.loc[i,'date'].month
    df.loc[i,'year']=df.loc[i,'date'].year
df

,date,region,positive_coef,negative_coef,positive_percentage,negative_percentage,positive_coef_p,negative_coef_p,positive_songs_p,negative_songs_p,...,negative_songs_p_yt,positive_percen_yt,net2p_yt,net_songs_yt,twitt,twitt_p,twitter,twitter_p,month,year
0,2016-12-01,at,66.921348,34.529511,61.124845,38.875155,36.481906,17.100431,38.035204,25.247728,...,NaN,NaN,NaN,NaN,0.699111,0.104282,95.306227,33.518850,12.0,2016.0
1,2017-01-01,at,56.969113,40.680610,59.089478,40.910522,34.028960,15.385740,37.785941,21.933503,...,NaN,NaN,NaN,NaN,0.685596,0.117659,88.080804,48.578769,1.0,2017.0
2,2017-02-01,at,60.189955,37.545874,64.373320,35.626680,33.365540,15.804763,39.847921,17.832340,...,NaN,NaN,NaN,NaN,0.674314,0.096657,82.049532,24.934949,2.0,2017.0
3,2017-03-01,at,61.270662,31.224005,67.692723,32.307277,28.961922,11.942472,40.279423,15.466373,...,NaN,NaN,NaN,NaN,0.689046,0.098282,89.925051,26.764386,3.0,2017.0
4,2017-04-01,at,56.188298,34.235845,64.427242,35.572758,30.236642,12.211820,42.460406,15.021484,...,NaN,NaN,NaN,NaN,0.693422,0.099280,92.264839,27.887856,4.0,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1824,2021-06-01,us,57.542980,91.685824,35.586222,64.413778,21.694933,33.902021,24.245929,30.471686,...,17.828028,66.771160,0.004918,56.381275,0.580914,0.083268,32.116441,9.861953,6.0,2021.0
1825,2021-07-01,us,54.978841,87.287389,35.018329,64.981671,22.212113,32.626880,22.994300,32.451086,...,18.495291,64.000000,0.004011,49.853001,0.578335,0.082576,30.737746,9.082289,7.0,2021.0
1826,2021-08-01,us,61.162950,79.814837,52.833035,47.166965,27.530953,29.301241,32.929739,23.187673,...,17.820437,67.878788,0.004502,53.386210,0.576676,0.082596,29.851177,9.105197,8.0,2021.0
1827,2021-09-01,us,71.728349,72.927302,72.625044,27.374956,36.664541,29.812166,41.022429,15.052433,...,19.863956,64.139942,0.003634,47.147163,0.588988,0.085981,36.432853,12.916177,9.0,2021.0
1828,2021-10-01,us,63.263054,66.198587,71.167841,28.832159,31.309838,24.828312,40.877627,14.953976,...,23.537759,63.291139,0.003897,49.036509,0.589568,0.084880,36.743326,11.676571,10.0,2021.0

In [22]:
for i in range(len(df)):
    if df.loc[i,'month']==12:
        df.loc[i,'christmas']=1
    else:
        df.loc[i,'christmas']=0
df

,date,region,positive_coef,negative_coef,positive_percentage,negative_percentage,positive_coef_p,negative_coef_p,positive_songs_p,negative_songs_p,...,positive_percen_yt,net2p_yt,net_songs_yt,twitt,twitt_p,twitter,twitter_p,month,year,christmas
0,2016-12-01,at,66.921348,34.529511,61.124845,38.875155,36.481906,17.100431,38.035204,25.247728,...,NaN,NaN,NaN,0.699111,0.104282,95.306227,33.518850,12.0,2016.0,1.0
1,2017-01-01,at,56.969113,40.680610,59.089478,40.910522,34.028960,15.385740,37.785941,21.933503,...,NaN,NaN,NaN,0.685596,0.117659,88.080804,48.578769,1.0,2017.0,0.0
2,2017-02-01,at,60.189955,37.545874,64.373320,35.626680,33.365540,15.804763,39.847921,17.832340,...,NaN,NaN,NaN,0.674314,0.096657,82.049532,24.934949,2.0,2017.0,0.0
3,2017-03-01,at,61.270662,31.224005,67.692723,32.307277,28.961922,11.942472,40.279423,15.466373,...,NaN,NaN,NaN,0.689046,0.098282,89.925051,26.764386,3.0,2017.0,0.0
4,2017-04-01,at,56.188298,34.235845,64.427242,35.572758,30.236642,12.211820,42.460406,15.021484,...,NaN,NaN,NaN,0.693422,0.099280,92.264839,27.887856,4.0,2017.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1824,2021-06-01,us,57.542980,91.685824,35.586222,64.413778,21.694933,33.902021,24.245929,30.471686,...,66.771160,0.004918,56.381275,0.580914,0.083268,32.116441,9.861953,6.0,2021.0,0.0
1825,2021-07-01,us,54.978841,87.287389,35.018329,64.981671,22.212113,32.626880,22.994300,32.451086,...,64.000000,0.004011,49.853001,0.578335,0.082576,30.737746,9.082289,7.0,2021.0,0.0
1826,2021-08-01,us,61.162950,79.814837,52.833035,47.166965,27.530953,29.301241,32.929739,23.187673,...,67.878788,0.004502,53.386210,0.576676,0.082596,29.851177,9.105197,8.0,2021.0,0.0
1827,2021-09-01,us,71.728349,72.927302,72.625044,27.374956,36.664541,29.812166,41.022429,15.052433,...,64.139942,0.003634,47.147163,0.588988,0.085981,36.432853,12.916177,9.0,2021.0,0.0
1828,2021-10-01,us,63.263054,66.198587,71.167841,28.832159,31.309838,24.828312,40.877627,14.953976,...,63.291139,0.003897,49.036509,0.589568,0.084880,36.743326,11.676571,10.0,2021.0,0.0

In [23]:
df.to_excel('panel_final2.xlsx', index=False)

### Top 10

In [36]:
df = pd.read_csv('total2.csv')
df = df[df['Position']<10]
df.reset_index(inplace=True, drop=True)
df

,Position,Song,Artist,Streams,URL,date,region,SongID,positive,negative,...,negative2,positive_p,negative_p,monthly,streams_region,pos_p,neg_p,songs,pos2p,neg2p
0,1,Fake Love,Drake,8618267,https://open.spotify.com/track/343YBumqHu19cGo...,2016-12-23,us,Fake LoveDrake,0.211,0.112,...,0.0,1818454.337,965245.904,12-2016,370328045,0.004910,0.002606,1.0,0.023272,0.000000
1,2,Bad and Boujee (feat. Lil Uzi Vert),Migos,7946032,https://open.spotify.com/track/4Km5HrUvYTaSUfi...,2016-12-23,us,Bad and Boujee (feat. Lil Uzi Vert)Migos,0.104,0.111,...,1.0,826387.328,882009.552,12-2016,370328045,0.002232,0.002382,1.0,0.000000,0.021457
2,3,Starboy,The Weeknd,7738517,https://open.spotify.com/track/5aAx2yezTd8zXrk...,2016-12-23,us,StarboyThe Weeknd,0.063,0.149,...,1.0,487526.571,1153039.033,12-2016,370328045,0.001316,0.003114,1.0,0.000000,0.020896
3,4,Black Beatles,Rae Sremmurd,6209336,https://open.spotify.com/track/6fujklziTHa8uoM...,2016-12-23,us,Black BeatlesRae Sremmurd,0.136,0.147,...,1.0,844469.696,912772.392,12-2016,370328045,0.002280,0.002465,1.0,0.000000,0.016767
4,5,Closer,The Chainsmokers,5813157,https://open.spotify.com/track/7BKLCZ1jbUBVqRi...,2016-12-23,us,CloserThe Chainsmokers,0.151,0.036,...,0.0,877786.707,209273.652,12-2016,370328045,0.002370,0.000565,1.0,0.015697,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71482,4,Arıyorum,EDIS,2003293,https://open.spotify.com/track/1jWXlhsOpwVGXtY...,2021-10-08,tr,ArıyorumEDIS,0.088,0.104,...,1.0,176289.784,208342.472,10-2021,84171245,0.002094,0.002475,1.0,0.000000,0.023800
71483,5,ralli,Lvbel C5,1683269,https://open.spotify.com/track/7JFlVFtzAQQKXcg...,2021-10-08,tr,ralliLvbel C5,0.137,0.117,...,0.0,230607.853,196942.473,10-2021,84171245,0.002740,0.002340,1.0,0.019998,0.000000
71484,7,Bul Beni,Ezhel,1520951,https://open.spotify.com/track/1riBwVUqVsk5RGJ...,2021-10-08,tr,Bul BeniEzhel,0.072,0.197,...,1.0,109508.472,299627.347,10-2021,84171245,0.001301,0.003560,1.0,0.000000,0.018070
71485,8,Baba,Ayaz Erdoğan,1460711,https://open.spotify.com/track/4WVOnhv2a3vvBAz...,2021-10-08,tr,BabaAyaz Erdoğan,0.082,0.098,...,1.0,119778.302,143149.678,10-2021,84171245,0.001423,0.001701,1.0,0.000000,0.017354
71486,9,Umrumda Değil,UZI,1436029,https://open.spotify.com/track/72t3CRd8YEFrlc3...,2021-10-08,tr,Umrumda DeğilUZI,0.123,0.144,...,1.0,176631.567,206788.176,10-2021,84171245,0.002098,0.002457,1.0,0.000000,0.017061

In [37]:
#Streams por semana y país (para calcular el coeficiente ponderado)
streams_per_week = df.groupby(['date','region']).agg({'Streams':['sum']})
streams_per_week.rename(columns = {'sum':'','Streams':'streams_region10'},inplace=True)
streams_per_week.reset_index(inplace=True)
streams_per_week['date']=streams_per_week['date'].astype(str)
streams_per_week['id']=streams_per_week['region']+'_'+streams_per_week['date']
streams_per_week.drop({'region','date'}, axis=1, inplace=True)
streams_per_week

<ipython-input-37-c7cbc0265436>:7: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  streams_per_week.drop({'region','date'}, axis=1, inplace=True)

     streams_region10             id

0              717154  at_2016-12-23
1             7014384  au_2016-12-23
2             1331276  be_2016-12-23
3             5878845  ca_2016-12-23
4              960485  ch_2016-12-23
...               ...            ...
8714          1991558  pt_2021-10-08
8715          7753914  se_2021-10-08
8716           510723  sk_2021-10-08
8717         15226444  tr_2021-10-08
8718         55720614  us_2021-10-08

[8719 rows x 2 columns]

In [38]:
df['date2']=df['date'].astype(str)
df['id']=df['region']+'_'+df['date2']
df = pd.merge(df, streams_per_week, on='id', how='left') 
df.rename({('streams_region10', ''):'streams_region10'},axis=1,inplace=True)
df.drop({'date2'},axis=1,inplace=True)
df

<ipython-input-38-a97c650df933>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date2']=df['date'].astype(str)
<ipython-input-38-a97c650df933>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['id']=df['region']+'_'+df['date2']
<ipython-input-38-a97c650df933>:3: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  df = pd.merge(df, streams_per_week, on='id', how='left')

,Position,Song,Artist,Streams,URL,date,region,SongID,positive,negative,...,negative_p,monthly,streams_region,pos_p,neg_p,songs,pos2p,neg2p,id,streams_region10
0,1,Fake Love,Drake,8618267,https://open.spotify.com/track/343YBumqHu19cGo...,2016-12-23,us,Fake LoveDrake,0.211,0.112,...,965245.904,12-2016,370328045,0.004910,0.002606,1.0,0.023272,0.000000,us_2016-12-23,54762875
1,2,Bad and Boujee (feat. Lil Uzi Vert),Migos,7946032,https://open.spotify.com/track/4Km5HrUvYTaSUfi...,2016-12-23,us,Bad and Boujee (feat. Lil Uzi Vert)Migos,0.104,0.111,...,882009.552,12-2016,370328045,0.002232,0.002382,1.0,0.000000,0.021457,us_2016-12-23,54762875
2,3,Starboy,The Weeknd,7738517,https://open.spotify.com/track/5aAx2yezTd8zXrk...,2016-12-23,us,StarboyThe Weeknd,0.063,0.149,...,1153039.033,12-2016,370328045,0.001316,0.003114,1.0,0.000000,0.020896,us_2016-12-23,54762875
3,4,Black Beatles,Rae Sremmurd,6209336,https://open.spotify.com/track/6fujklziTHa8uoM...,2016-12-23,us,Black BeatlesRae Sremmurd,0.136,0.147,...,912772.392,12-2016,370328045,0.002280,0.002465,1.0,0.000000,0.016767,us_2016-12-23,54762875
4,5,Closer,The Chainsmokers,5813157,https://open.spotify.com/track/7BKLCZ1jbUBVqRi...,2016-12-23,us,CloserThe Chainsmokers,0.151,0.036,...,209273.652,12-2016,370328045,0.002370,0.000565,1.0,0.015697,0.000000,us_2016-12-23,54762875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71482,4,Arıyorum,EDIS,2003293,https://open.spotify.com/track/1jWXlhsOpwVGXtY...,2021-10-08,tr,ArıyorumEDIS,0.088,0.104,...,208342.472,10-2021,84171245,0.002094,0.002475,1.0,0.000000,0.023800,tr_2021-10-08,15226444
71483,5,ralli,Lvbel C5,1683269,https://open.spotify.com/track/7JFlVFtzAQQKXcg...,2021-10-08,tr,ralliLvbel C5,0.137,0.117,...,196942.473,10-2021,84171245,0.002740,0.002340,1.0,0.019998,0.000000,tr_2021-10-08,15226444
71484,7,Bul Beni,Ezhel,1520951,https://open.spotify.com/track/1riBwVUqVsk5RGJ...,2021-10-08,tr,Bul BeniEzhel,0.072,0.197,...,299627.347,10-2021,84171245,0.001301,0.003560,1.0,0.000000,0.018070,tr_2021-10-08,15226444
71485,8,Baba,Ayaz Erdoğan,1460711,https://open.spotify.com/track/4WVOnhv2a3vvBAz...,2021-10-08,tr,BabaAyaz Erdoğan,0.082,0.098,...,143149.678,10-2021,84171245,0.001423,0.001701,1.0,0.000000,0.017354,tr_2021-10-08,15226444
71486,9,Umrumda Değil,UZI,1436029,https://open.spotify.com/track/72t3CRd8YEFrlc3...,2021-10-08,tr,Umrumda DeğilUZI,0.123,0.144,...,206788.176,10-2021,84171245,0.002098,0.002457,1.0,0.000000,0.017061,tr_2021-10-08,15226444

In [39]:
df['top10']=(df['positive2']*df['Streams'])/df['streams_region10']

In [52]:
for i in range(len(df)):
    df.loc[i,'month']=df.loc[i,'date'][0:7]+'-01'
df

,Position,Song,Artist,Streams,URL,date,region,SongID,positive,negative,...,pos_p,neg_p,songs,pos2p,neg2p,id,streams_region10,top10,top10w,month
0,1,Fake Love,Drake,8618267,https://open.spotify.com/track/343YBumqHu19cGo...,2016-12-23,us,Fake LoveDrake,0.211,0.112,...,0.004910,0.002606,1.0,0.023272,0.000000,us_2016-12-23,54762875,0.157374,15.737426,2016-12-01
1,2,Bad and Boujee (feat. Lil Uzi Vert),Migos,7946032,https://open.spotify.com/track/4Km5HrUvYTaSUfi...,2016-12-23,us,Bad and Boujee (feat. Lil Uzi Vert)Migos,0.104,0.111,...,0.002232,0.002382,1.0,0.000000,0.021457,us_2016-12-23,54762875,0.000000,0.000000,2016-12-01
2,3,Starboy,The Weeknd,7738517,https://open.spotify.com/track/5aAx2yezTd8zXrk...,2016-12-23,us,StarboyThe Weeknd,0.063,0.149,...,0.001316,0.003114,1.0,0.000000,0.020896,us_2016-12-23,54762875,0.000000,0.000000,2016-12-01
3,4,Black Beatles,Rae Sremmurd,6209336,https://open.spotify.com/track/6fujklziTHa8uoM...,2016-12-23,us,Black BeatlesRae Sremmurd,0.136,0.147,...,0.002280,0.002465,1.0,0.000000,0.016767,us_2016-12-23,54762875,0.000000,0.000000,2016-12-01
4,5,Closer,The Chainsmokers,5813157,https://open.spotify.com/track/7BKLCZ1jbUBVqRi...,2016-12-23,us,CloserThe Chainsmokers,0.151,0.036,...,0.002370,0.000565,1.0,0.015697,0.000000,us_2016-12-23,54762875,0.106151,10.615142,2016-12-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71482,4,Arıyorum,EDIS,2003293,https://open.spotify.com/track/1jWXlhsOpwVGXtY...,2021-10-08,tr,ArıyorumEDIS,0.088,0.104,...,0.002094,0.002475,1.0,0.000000,0.023800,tr_2021-10-08,15226444,0.000000,0.000000,2021-10-01
71483,5,ralli,Lvbel C5,1683269,https://open.spotify.com/track/7JFlVFtzAQQKXcg...,2021-10-08,tr,ralliLvbel C5,0.137,0.117,...,0.002740,0.002340,1.0,0.019998,0.000000,tr_2021-10-08,15226444,0.110549,11.054906,2021-10-01
71484,7,Bul Beni,Ezhel,1520951,https://open.spotify.com/track/1riBwVUqVsk5RGJ...,2021-10-08,tr,Bul BeniEzhel,0.072,0.197,...,0.001301,0.003560,1.0,0.000000,0.018070,tr_2021-10-08,15226444,0.000000,0.000000,2021-10-01
71485,8,Baba,Ayaz Erdoğan,1460711,https://open.spotify.com/track/4WVOnhv2a3vvBAz...,2021-10-08,tr,BabaAyaz Erdoğan,0.082,0.098,...,0.001423,0.001701,1.0,0.000000,0.017354,tr_2021-10-08,15226444,0.000000,0.000000,2021-10-01
71486,9,Umrumda Değil,UZI,1436029,https://open.spotify.com/track/72t3CRd8YEFrlc3...,2021-10-08,tr,Umrumda DeğilUZI,0.123,0.144,...,0.002098,0.002457,1.0,0.000000,0.017061,tr_2021-10-08,15226444,0.000000,0.000000,2021-10-01

In [53]:
top10_per_month = df.groupby(['month','region']).agg({'top10':['mean']})
top10_per_month.rename(columns = {'mean':'','Streams':'top10'},inplace=True)
top10_per_month.reset_index(inplace=True)
top10_per_month['month']=top10_per_month['month'].astype(str)
top10_per_month['id']=top10_per_month['region']+'_'+top10_per_month['month']
top10_per_month['top10']=((top10_per_month['top10'] - top10_per_month['top10'].min()) / 
                         (top10_per_month['top10'].max() - top10_per_month['top10'].min()))*100 
top10_per_month.drop({'region','month'}, axis=1, inplace=True)
top10_per_month

<ipython-input-53-f5664b6811ce>:8: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  top10_per_month.drop({'region','month'}, axis=1, inplace=True)

          top10             id

0     10.263018  at_2016-12-01
1      5.596475  au_2016-12-01
2      9.207583  be_2016-12-01
3      4.879424  ca_2016-12-01
4      8.032888  ch_2016-12-01
...         ...            ...
2047   8.669601  pt_2021-10-01
2048   6.306832  se_2021-10-01
2049   9.930999  sk_2021-10-01
2050   3.607244  tr_2021-10-01
2051   9.661991  us_2021-10-01

[2052 rows x 2 columns]

In [57]:
panel = pd.read_excel('panel_final2.xlsx')
panel = pd.merge(panel, top10_per_month, on='id', how='left') 
panel.rename({('top10', ''):'top10'},axis=1,inplace=True)
panel

<ipython-input-57-aafba70d94a0>:2: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  panel = pd.merge(panel, top10_per_month, on='id', how='left')

,date,region,positive_coef,negative_coef,positive_percentage,negative_percentage,positive_coef_p,negative_coef_p,positive_songs_p,negative_songs_p,...,net2p_yt,net_songs_yt,twitt,twitt_p,twitter,twitter_p,month,year,christmas,top10
0,2016-12-01,at,66.921348,34.529511,61.124845,38.875155,36.481906,17.100431,38.035204,25.247728,...,NaN,NaN,0.699111,0.104282,95.306227,33.518850,12,2016,1,10.263018
1,2017-01-01,at,56.969113,40.680610,59.089478,40.910522,34.028960,15.385740,37.785941,21.933503,...,NaN,NaN,0.685596,0.117659,88.080804,48.578769,1,2017,0,8.916506
2,2017-02-01,at,60.189955,37.545874,64.373320,35.626680,33.365540,15.804763,39.847921,17.832340,...,NaN,NaN,0.674314,0.096657,82.049532,24.934949,2,2017,0,8.814766
3,2017-03-01,at,61.270662,31.224005,67.692723,32.307277,28.961922,11.942472,40.279423,15.466373,...,NaN,NaN,0.689046,0.098282,89.925051,26.764386,3,2017,0,9.712952
4,2017-04-01,at,56.188298,34.235845,64.427242,35.572758,30.236642,12.211820,42.460406,15.021484,...,NaN,NaN,0.693422,0.099280,92.264839,27.887856,4,2017,0,11.111111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1824,2021-06-01,us,57.542980,91.685824,35.586222,64.413778,21.694933,33.902021,24.245929,30.471686,...,0.004918,56.381275,0.580914,0.083268,32.116441,9.861953,6,2021,0,8.558154
1825,2021-07-01,us,54.978841,87.287389,35.018329,64.981671,22.212113,32.626880,22.994300,32.451086,...,0.004011,49.853001,0.578335,0.082576,30.737746,9.082289,7,2021,0,10.221390
1826,2021-08-01,us,61.162950,79.814837,52.833035,47.166965,27.530953,29.301241,32.929739,23.187673,...,0.004502,53.386210,0.576676,0.082596,29.851177,9.105197,8,2021,0,9.312148
1827,2021-09-01,us,71.728349,72.927302,72.625044,27.374956,36.664541,29.812166,41.022429,15.052433,...,0.003634,47.147163,0.588988,0.085981,36.432853,12.916177,9,2021,0,9.000078
1828,2021-10-01,us,63.263054,66.198587,71.167841,28.832159,31.309838,24.828312,40.877627,14.953976,...,0.003897,49.036509,0.589568,0.084880,36.743326,11.676571,10,2021,0,9.661991

In [58]:
panel.to_excel('panel_final2.xlsx',index=False)

### Top100

In [72]:
df = pd.read_csv('total2.csv')
df = df[df['Position']<100]
df.reset_index(inplace=True, drop=True)
df

,Position,Song,Artist,Streams,URL,date,region,SongID,positive,negative,positive2,negative2,positive_p,negative_p
0,1,Fake Love,Drake,8618267,https://open.spotify.com/track/343YBumqHu19cGo...,2016-12-23 00:00:00,us,Fake LoveDrake,0.211,0.112,1.0,0.0,1818454.337,965245.904
1,2,Bad and Boujee (feat. Lil Uzi Vert),Migos,7946032,https://open.spotify.com/track/4Km5HrUvYTaSUfi...,2016-12-23 00:00:00,us,Bad and Boujee (feat. Lil Uzi Vert)Migos,0.104,0.111,0.0,1.0,826387.328,882009.552
2,3,Starboy,The Weeknd,7738517,https://open.spotify.com/track/5aAx2yezTd8zXrk...,2016-12-23 00:00:00,us,StarboyThe Weeknd,0.063,0.149,0.0,1.0,487526.571,1153039.033
3,4,Black Beatles,Rae Sremmurd,6209336,https://open.spotify.com/track/6fujklziTHa8uoM...,2016-12-23 00:00:00,us,Black BeatlesRae Sremmurd,0.136,0.147,0.0,1.0,844469.696,912772.392
4,5,Closer,The Chainsmokers,5813157,https://open.spotify.com/track/7BKLCZ1jbUBVqRi...,2016-12-23 00:00:00,us,CloserThe Chainsmokers,0.151,0.036,1.0,0.0,877786.707,209273.652
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
773744,95,Bir Derdim Var,mor ve ötesi,355569,https://open.spotify.com/track/5oecOcmSEHs7MZi...,2021-10-08 00:00:00,tr,Bir Derdim Varmor ve ötesi,0.266,0.086,1.0,0.0,94581.354,30578.934
773745,96,Cevapsız Sorular,maNga,354387,https://open.spotify.com/track/03INrUW4VCJpDXK...,2021-10-08 00:00:00,tr,Cevapsız SorularmaNga,0.167,0.286,0.0,1.0,59182.629,101354.682
773746,97,O Bi Karamel,Ozbi,354081,https://open.spotify.com/track/2js8NCrJyyq7AIZ...,2021-10-08 00:00:00,tr,O Bi KaramelOzbi,0.020,0.053,0.0,1.0,7081.620,18766.293
773747,98,Esenyurt Trap Merso,Tuhan,354001,https://open.spotify.com/track/0k8o46BoyAXEVam...,2021-10-08 00:00:00,tr,Esenyurt Trap MersoTuhan,0.046,0.066,0.0,1.0,16284.046,23364.066
773748,99,Istediğim Olucak,Reckol,351270,https://open.spotify.com/track/6pIVJRrlvECfYXf...,2021-10-08 00:00:00,tr,Istediğim OlucakReckol,0.137,0.133,1.0,0.0,48123.990,46718.910

In [77]:
#Streams por semana y país (para calcular el coeficiente ponderado)
streams_per_week = df.groupby(['date','region']).agg({'Streams':['sum']})
streams_per_week.rename(columns = {'sum':'','Streams':'streams_region100'},inplace=True)
streams_per_week.reset_index(inplace=True)
for i in range(len(streams_per_week)):
    streams_per_week.loc[i,'date']=str(streams_per_week.loc[i,'date'])[4:14]
streams_per_week['id']=streams_per_week['region']+'_'+streams_per_week['date']
streams_per_week.drop({'region','date'}, axis=1, inplace=True)
streams_per_week

<ipython-input-77-c5d03721e9bc>:8: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  streams_per_week.drop({'region','date'}, axis=1, inplace=True)

     streams_region100             id

0              3864453  at_2016-12-23
1             34577285  au_2016-12-23
2              5849471  be_2016-12-23
3             29066168  ca_2016-12-23
4              4581510  ch_2016-12-23
...                ...            ...
8719           9752111  pt_2021-10-08
8720          32809082  se_2021-10-08
8721           2466726  sk_2021-10-08
8722          60580138  tr_2021-10-08
8723         279935558  us_2021-10-08

[8724 rows x 2 columns]

In [78]:
for i in range(len(df)):
    df.loc[i,'date2']=str(df.loc[i,'date'])[0:10]
df['id']=df['region']+'_'+df['date2']
df = pd.merge(df, streams_per_week, on='id', how='left') 
df.rename({('streams_region100', ''):'streams_region100'},axis=1,inplace=True)
df.drop({'date2'},axis=1,inplace=True)
df['top100']=(df['positive2']*df['Streams'])/df['streams_region100']
for i in range(len(df)):
    df.loc[i,'month']=df.loc[i,'date'][0:7]+'-01'
df

<ipython-input-78-861232260d76>:4: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  df = pd.merge(df, streams_per_week, on='id', how='left')

,Position,Song,Artist,Streams,URL,date,region,SongID,positive,negative,positive2,negative2,positive_p,negative_p,id,streams_region100,top100,month
0,1,Fake Love,Drake,8618267,https://open.spotify.com/track/343YBumqHu19cGo...,2016-12-23 00:00:00,us,Fake LoveDrake,0.211,0.112,1.0,0.0,1818454.337,965245.904,us_2016-12-23,254760692,0.033829,2016-12-01
1,2,Bad and Boujee (feat. Lil Uzi Vert),Migos,7946032,https://open.spotify.com/track/4Km5HrUvYTaSUfi...,2016-12-23 00:00:00,us,Bad and Boujee (feat. Lil Uzi Vert)Migos,0.104,0.111,0.0,1.0,826387.328,882009.552,us_2016-12-23,254760692,0.000000,2016-12-01
2,3,Starboy,The Weeknd,7738517,https://open.spotify.com/track/5aAx2yezTd8zXrk...,2016-12-23 00:00:00,us,StarboyThe Weeknd,0.063,0.149,0.0,1.0,487526.571,1153039.033,us_2016-12-23,254760692,0.000000,2016-12-01
3,4,Black Beatles,Rae Sremmurd,6209336,https://open.spotify.com/track/6fujklziTHa8uoM...,2016-12-23 00:00:00,us,Black BeatlesRae Sremmurd,0.136,0.147,0.0,1.0,844469.696,912772.392,us_2016-12-23,254760692,0.000000,2016-12-01
4,5,Closer,The Chainsmokers,5813157,https://open.spotify.com/track/7BKLCZ1jbUBVqRi...,2016-12-23 00:00:00,us,CloserThe Chainsmokers,0.151,0.036,1.0,0.0,877786.707,209273.652,us_2016-12-23,254760692,0.022818,2016-12-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
773744,95,Bir Derdim Var,mor ve ötesi,355569,https://open.spotify.com/track/5oecOcmSEHs7MZi...,2021-10-08 00:00:00,tr,Bir Derdim Varmor ve ötesi,0.266,0.086,1.0,0.0,94581.354,30578.934,tr_2021-10-08,60580138,0.005869,2021-10-01
773745,96,Cevapsız Sorular,maNga,354387,https://open.spotify.com/track/03INrUW4VCJpDXK...,2021-10-08 00:00:00,tr,Cevapsız SorularmaNga,0.167,0.286,0.0,1.0,59182.629,101354.682,tr_2021-10-08,60580138,0.000000,2021-10-01
773746,97,O Bi Karamel,Ozbi,354081,https://open.spotify.com/track/2js8NCrJyyq7AIZ...,2021-10-08 00:00:00,tr,O Bi KaramelOzbi,0.020,0.053,0.0,1.0,7081.620,18766.293,tr_2021-10-08,60580138,0.000000,2021-10-01
773747,98,Esenyurt Trap Merso,Tuhan,354001,https://open.spotify.com/track/0k8o46BoyAXEVam...,2021-10-08 00:00:00,tr,Esenyurt Trap MersoTuhan,0.046,0.066,0.0,1.0,16284.046,23364.066,tr_2021-10-08,60580138,0.000000,2021-10-01
773748,99,Istediğim Olucak,Reckol,351270,https://open.spotify.com/track/6pIVJRrlvECfYXf...,2021-10-08 00:00:00,tr,Istediğim OlucakReckol,0.137,0.133,1.0,0.0,48123.990,46718.910,tr_2021-10-08,60580138,0.005798,2021-10-01

In [79]:
top100_per_month = df.groupby(['month','region']).agg({'top100':['mean']})
top100_per_month.rename(columns = {'mean':'','Streams':'top100'},inplace=True)
top100_per_month.reset_index(inplace=True)
top100_per_month['month']=top100_per_month['month'].astype(str)
top100_per_month['id']=top100_per_month['region']+'_'+top100_per_month['month']
top100_per_month['top100']=((top100_per_month['top100'] - top100_per_month['top100'].min()) / 
                         (top100_per_month['top100'].max() - top100_per_month['top100'].min()))*100 
top100_per_month.drop({'region','month'}, axis=1, inplace=True)
top100_per_month

<ipython-input-79-ad58657052c0>:8: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  top100_per_month.drop({'region','month'}, axis=1, inplace=True)

         top100             id

0     17.682589  at_2016-12-01
1     15.452208  au_2016-12-01
2     17.970728  be_2016-12-01
3      9.746095  ca_2016-12-01
4     18.488184  ch_2016-12-01
...         ...            ...
2047  17.228616  pt_2021-10-01
2048  17.148620  se_2021-10-01
2049  21.107577  sk_2021-10-01
2050   8.255844  tr_2021-10-01
2051  22.313769  us_2021-10-01

[2052 rows x 2 columns]

In [80]:
panel = pd.read_excel('panel_final2.xlsx')
panel = pd.merge(panel, top100_per_month, on='id', how='left') 
panel.rename({('top100', ''):'top100'},axis=1,inplace=True)
panel

<ipython-input-80-c2a7348a6349>:2: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  panel = pd.merge(panel, top100_per_month, on='id', how='left')

,date,region,positive_coef,negative_coef,positive_percentage,negative_percentage,positive_coef_p,negative_coef_p,positive_songs_p,negative_songs_p,...,net_songs_yt,twitt,twitt_p,twitter,twitter_p,month,year,christmas,top10,top100
0,2016-12-01,at,66.921348,34.529511,61.124845,38.875155,36.481906,17.100431,38.035204,25.247728,...,NaN,0.699111,0.104282,95.306227,33.518850,12,2016,1,10.263018,17.682589
1,2017-01-01,at,56.969113,40.680610,59.089478,40.910522,34.028960,15.385740,37.785941,21.933503,...,NaN,0.685596,0.117659,88.080804,48.578769,1,2017,0,8.916506,17.031495
2,2017-02-01,at,60.189955,37.545874,64.373320,35.626680,33.365540,15.804763,39.847921,17.832340,...,NaN,0.674314,0.096657,82.049532,24.934949,2,2017,0,8.814766,17.944996
3,2017-03-01,at,61.270662,31.224005,67.692723,32.307277,28.961922,11.942472,40.279423,15.466373,...,NaN,0.689046,0.098282,89.925051,26.764386,3,2017,0,9.712952,17.412176
4,2017-04-01,at,56.188298,34.235845,64.427242,35.572758,30.236642,12.211820,42.460406,15.021484,...,NaN,0.693422,0.099280,92.264839,27.887856,4,2017,0,11.111111,19.465284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1824,2021-06-01,us,57.542980,91.685824,35.586222,64.413778,21.694933,33.902021,24.245929,30.471686,...,56.381275,0.580914,0.083268,32.116441,9.861953,6,2021,0,8.558154,13.297447
1825,2021-07-01,us,54.978841,87.287389,35.018329,64.981671,22.212113,32.626880,22.994300,32.451086,...,49.853001,0.578335,0.082576,30.737746,9.082289,7,2021,0,10.221390,11.644004
1826,2021-08-01,us,61.162950,79.814837,52.833035,47.166965,27.530953,29.301241,32.929739,23.187673,...,53.386210,0.576676,0.082596,29.851177,9.105197,8,2021,0,9.312148,16.826758
1827,2021-09-01,us,71.728349,72.927302,72.625044,27.374956,36.664541,29.812166,41.022429,15.052433,...,47.147163,0.588988,0.085981,36.432853,12.916177,9,2021,0,9.000078,19.171112
1828,2021-10-01,us,63.263054,66.198587,71.167841,28.832159,31.309838,24.828312,40.877627,14.953976,...,49.036509,0.589568,0.084880,36.743326,11.676571,10,2021,0,9.661991,22.313769

In [81]:
panel.to_excel('panel_final2.xlsx',index=False)